/* You can add global styles to this file, and also import other style files */
body{
    margin:0 ;
    padding: 0;
    background-image: url('./assets/img/crumpled-paper.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100%;
}